%tr{ :class => cycle('row1', 'row2') }[loot_row]
  %td= link_to_item_with_stats(loot_row.item)
  %td= link_to_member(loot_row.member)
  %td= loot_row.loot_type
  %td.image{ :width => "48px" }
    = link_to_function(image_tag('edit.png'), "attendanceEditLoot(#{loot_row.id})")
    = link_to_delete(live_raid_live_loot_path(loot_row.live_raid, loot_row))
