= form.label :date_string
= form.text_field :date_string, :class => 'small'

= form.label :note
= form.text_field :note

= form.label :attendance_output, 'Attendance'
= form.text_area :attendance_output, :size => '60x15'