%h2= breadcrumb link_to('Raids', raids_path), link_to(h(@raid.date), raid_path(@raid)), 'Edit'
%fieldset
  - form_for @raid do |f|
    - unless f.error_messages.empty?
      .error= f.error_messages
      
    = render :partial => "form", :object => f
    
    .buttons
      = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')
      = link_to_delete(:path => raid_path(@raid), :confirm => 'Are you sure you want to delete this raid?')