= will_paginate @raids
%br
%table.list
  %thead
    %tr
      %th.date Date
      %th.number Attendees
      %th.number Drops
      %th.note Note
      %th.image Actions
  %tbody
    - @raids.each do |raid|
      %tr{ :class => cycle('even', 'odd') }
        %td.date= link_to h(raid.date), raid_path(raid)
        %td.number= raid.attendees.size
        %td.number= raid.loots.size
        %td.note= h(raid.note)
        %td.image
          / = link_to 'Edit', edit_raid_path(raid)
          / |
          = link_to image_tag('delete.png'), raid_path(raid), :confirm => 'Are you sure?', :method => :delete # TODO: Authorize!
%br
= will_paginate @raids