<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Date</th>
    <th class="right">Attendees</th>
    <th class="right">Drops</th>
    <th>Note</th>
  </tr>
  </thead>
  
  <tbody>
  <% for raid in @raids %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= link_to h(raid.date), raid_path(raid) %></td>
      <td class="right"><%=h raid.attendees.count %></td>
      <td class="right"><%=h raid.items.count %></td>
      <td><%=h raid.note %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>