- page_title 'Raids'
- breadcrumb 'Raids'
%div.topic_controls
  = will_paginate @raids, :class => 'pagination left'
  - if admin?
    %ul.topic_buttons
      %li= link_to(image_tag('raid_add.png') + 'Add Raid', new_raid_path, :title => 'Add Raid')
%div.category_block.block_wrap
  = render :partial => 'shared/maintitle'
  %table.ipb_table
    %thead
      %tr
        %th.date Date
        %th.number Attendees
        %th.number Loots
        %th.note Note
    %tbody
      - @raids.each do |raid|
        %tr{ :class => cycle('row1', 'row2') }
          %td.date
            = link_to h(raid.date), raid_path(raid)
            = render :partial => 'shared/moderation', :object => raid if admin?
          %td.number= h(raid.attendees.size)
          %td.number= h(raid.loots.size)
          %td.note= h(raid.note)
%div.topic_controls
  = will_paginate @raids, :class => 'pagination left'
  - if admin?
    %ul.topic_buttons
      %li= link_to(image_tag('raid_add.png') + 'Add Raid', new_raid_path, :title => 'Add Raid')
