:javascript
  $(document).ready(function() {
    raidsContextMenu();
  });

- if admin?  
  %ul#contextMenu.contextMenu.hidden
    %li.edit= link_to('Edit Raid', '#edit')
    
= will_paginate @raids
%br
%table.list
  %thead
    %tr
      %th.date Date
      %th.number Attendees
      %th.number Loots
      %th.note Note
  %tbody
    - @raids.each do |raid|
      %tr{ :class => cycle('even', 'odd') }
        %td.date= link_to h(raid.date), raid_path(raid)
        %td.number= h(raid.attendees.size)
        %td.number= h(raid.loots.size)
        %td.note= h(raid.note)
%br
= will_paginate @raids