<h2><%=h @raid.date %></h2>

<h3>Attendees</h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Name</th>
    <th class="right">Attendance</th>
  </tr>
  </thead>
  
  <tbody>
  <% for attendee in @raid.attendees %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= member_link_colored(attendee.member) %></td>
      <td class="right"><%= raid_attendance_colored(attendee.attendance) %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>

<h3>Drops</h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Buyer</th>
    <th class="right">Price</th>
  </tr>
  </thead>
  
  <tbody>
  <% for item in @raid.items %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= link_to h(item.name), item_path(item) %></td>
      <td><%= member_link_colored(item.buyer) %></td>
      <td class="right"><%= number_with_precision(item.price, :precision => 2) %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>