:javascript
  $(document).ready(function(){
    $("table#loot").tablesorter({ sortList: [[0,0]], widgets: ['zebra'] });
    $('#itemfilter span.filter').click(function() {
      toggleItemTypes(this);
    });
    $("#raid_tabs").tabs();
  });
  
%h2= breadcrumb link_to('Raids', raids_path), h(@raid.date)
#raid_tabs
  %ul
    %li= link_to_tab("Attendees (#{@raid.attendees.size})")
    %li= link_to_tab("Drops (#{@raid.loots.size})")

  #attendees= render :partial => 'attendees'
  #drops= render :partial => 'drops'