:javascript
  $(document).ready(function(){
    $("table#loot").tablesorter({ sortList: [[0,0]], widgets: ['zebra'] });
    $('#itemfilter span.filter').click(function() {
      toggleItemTypes(this);
    });
  });
  
#attendees
  %h2= breadcrumb link_to('Raids', raids_path), h(@raid.date), "Attendees (#{@raid.attendees.size})"
  - @attendees.sort.each do |group,array|
    .class_group{ :id => group }
      %h4{ :class => group.gsub(/\s+/, '_') }= group + " (#{array.size})"
      %ul
        - array.each do |att|
          %li
            = raid_attendance_colored(att.attendance)
            = link_to_member(att.member)
#drops
  %h2= breadcrumb "Loots (#{@raid.loots.size})"
  %table#loot.list.tablesorter
    %thead
      %tr
        %th Name
        %th.member Buyer
        %th Notes
        %th.number Price
    %tbody#itemfilter
      - @loots.each do |loot|
        %tr{ :class => cycle('even', 'odd') + ' ' + loot_row_classes(loot) }
          %td= link_to_item_with_stats(loot.item)
          %td.member= link_to_member(loot.member)
          %td= loot_tell_types(loot)
          %td.number= loot_factor(loot.adjusted_price)