:javascript
  $(document).ready(function(){
    $("table#loot").tablesorter({ sortList: [[0,0]], widgets: ['zebra'], headers: {0:{sorter: 'without-link'}} });
    $('#itemfilter span.filter').click(function() {
      toggleItemTypes(this);
    });
  });
- breadcrumb link_to('Raids', raids_path), h(@raid.date)

#attendees
  = render :partial => 'shared/maintitle', :object => "Attendees (#{@raid.attendees.size})"
  - @attendees.sort.each do |group,array|
    .class_group{ :id => group.gsub(/\s+/, '_') }
      %h4{ :class => group.gsub(/\s+/, '_') }= group + " (#{array.size})"
      %ul
        - array.each do |att|
          %li
            = raid_attendance_colored(att.attendance)
            = link_to_member(att.member)
#drops
  = render :partial => 'shared/maintitle', :object => "Loots (#{@raid.loots.size})"
  %table#loot.ipb_table.tablesorter
    %thead
      %tr
        %th Name
        %th.member Buyer
        %th Notes
        %th.number Price
    %tbody#itemfilter
      - @loots.each do |loot|
        %tr{ :class => cycle('row1', 'row2') + ' ' + loot_row_classes(loot) }[loot]
          %td
            = link_to_item_with_stats(loot.item)
            = render :partial => 'shared/moderation', :object => loot if admin?
          %td.member= link_to_member(loot.member)
          %td= loot_tell_types(loot)
          %td.number= loot_factor(loot.adjusted_price)