:javascript
  $(document).ready(function(){
    $("#raid_tabs").tabs();
  });
  
%h2
  = link_to 'Raids', raids_path
  &raquo;
  = @raid.date
#raid_tabs
  %ul
    %li= link_to_tab("Attendees (#{@raid.attendees.size})")
    %li= link_to_tab("Drops (#{@raid.items.size})")

  #attendees
    %table.list
      %thead
        %tr
          %th.fill Name
          %th.attendance Attendance
      %tbody
        - @attendees.each do |attendee|
          %tr{ :class => cycle('even', 'odd') }
            %td.fill= link_to_member(attendee.member)
            %td.attendance= raid_attendance_colored(attendee.attendance)
  #drops
    %table.list
      %thead
        %tr
          %th Name
          %th.member Buyer
          %th Notes
          %th.number Price
      %tbody
        - @drops.each do |item|
          %tr{ :class => cycle('even', 'odd') }
            %td= link_to_item_with_stats(item)
            %td.member= link_to_member(item.buyer)
            %td= item_tell_types(item)
            %td.number= number_with_precision(item.adjusted_price, :precision => 2)