- page_title
- breadcrumb 'Index'
%div.category_block.block_wrap
  = render :partial => 'shared/maintitle', :object => 'Overview'
  %table.ipb_table
    %thead
      %tr
        %th
        %th.right Guild
        - Member::WOW_CLASSES.each do |wow_class|
          %th.right= image_tag("classes/#{wow_class.downcase.gsub(/\s+/, '_')}.gif", :alt => wow_class)
    %tbody
      - cache :action => 'index', :action_suffix => 'class_counts' do
        %tr{ :class => cycle('row1', 'row2') }
          %td.right Active
          %td.right= h(@count_guild)
          - @counts.each do |wow_class, count|
            %td.number= link_to h(count), search_path(:q => wow_class, :context => 'members')
      - cache :action => 'index', :action_suffix => 'attendance_averages' do
        = render :partial => 'attendance_averages', :locals => {:att_title => "30-Day",   :att_type => :avg_30}
        = render :partial => 'attendance_averages', :locals => {:att_title => "90-Day",   :att_type => :avg_90}
        = render :partial => 'attendance_averages', :locals => {:att_title => "Lifetime", :att_type => :avg_lifetime}
      / Loot Factor Averages
      - cache :action => 'index', :action_suffix => 'loot_factor_averages' do
        = render :partial => "loot_factor_averages", :locals => {:lf_title => "Loot Factor",  :lf_type => :avg_lf}
        = render :partial => "loot_factor_averages", :locals => {:lf_title => "Best in Slot", :lf_type => :avg_bislf}
        = render :partial => "loot_factor_averages", :locals => {:lf_title => "Situational",  :lf_type => :avg_sitlf}

%div.category_block.block_wrap
  = render :partial => 'shared/maintitle', :object => 'Records'
  - @stat_groups.each do |key, val|
    - cache :action => 'index', :action_suffix => key do
      .record_group= render :partial => "index/#{key}", :locals => {key.to_sym => val}
