%h2= breadcrumb 'Statistics'
%table.list{ :style => 'font-size: 1.2em' }
  %thead
    %tr
      %th &nbsp;
      %th.right Guild
      - Member::WOW_CLASSES.each do |wow_class|
        %th.right= image_tag("classes/#{wow_class.downcase.gsub(/\s+/, '_')}.gif", :alt => wow_class)
  %tbody
    / Class Counts
    %tr{ :class => cycle('even', 'odd') }
      %td.right Active
      %td.right= h(@count_guild)
      - @counts.each do |wow_class, count|
        %td.number= link_to h(count), url_for(:controller => 'search', :context => 'members', :query => "class:#{wow_class}")
    / Attendance Averages
    %tr{ :class => cycle('even', 'odd') }
      %td.right 30-Day
      %td.attendance= member_attendance_colored(@attendance_guild.avg_30.to_f)
      - @attendance.each do |group|
        %td.attendance= member_attendance_colored(group.avg_30.to_f)
    %tr{ :class => cycle('even', 'odd') }
      %td.right 90-Day
      %td.attendance= member_attendance_colored(@attendance_guild.avg_90.to_f)
      - @attendance.each do |group|
        %td.attendance= member_attendance_colored(group.avg_90.to_f)
    %tr{ :class => cycle('even', 'odd') }
      %td.right Lifetime
      %td.attendance= member_attendance_colored(@attendance_guild.avg_lifetime.to_f)
      - @attendance.each do |group|
        %td.attendance= member_attendance_colored(group.avg_lifetime.to_f)
    / Loot Factor Averages
    %tr{ :class => cycle('even', 'odd') }
      %td.right Loot Factor
      %td.attendance= loot_factor(@lootfactor_guild.avg_lf.to_f)
      - @lootfactor.each do |group|
        %td.attendance= loot_factor(group.avg_lf.to_f)
    %tr{ :class => cycle('even', 'odd') }
      %td.right Best In Slot
      %td.attendance= loot_factor(@lootfactor_guild.avg_bislf.to_f)
      - @lootfactor.each do |group|
        %td.attendance= loot_factor(group.avg_bislf.to_f)
    %tr{ :class => cycle('even', 'odd') }
      %td.right Situational
      %td.attendance= loot_factor(@lootfactor_guild.avg_sitlf.to_f)
      - @lootfactor.each do |group|
        %td.attendance= loot_factor(group.avg_sitlf.to_f)
        
%h2= breadcrumb 'Records'
.record_group
  %h4 Most Common Items
  %table.list
    %thead
      %tr
        %th Item
        %th.number Loots
    %tbody
      - @common_items.each do |item|
        %tr{ :class => cycle('even', 'odd') }
          %td= link_to_item_with_stats(item)
          %td.number= h(item.loots_count)
.record_group
  %h4 Most Common Tokens
  %table.list
    %thead
      %tr
        %th Item
        %th.number Loots
    %tbody
      - @common_tokens.each do |item|
        %tr{ :class => cycle('even', 'odd') }
          %td= link_to_item_with_stats(item)
          %td.number= h(item.loots_count)
.record_group
  %h4 Most Wanted Items
  %table.list
    %thead
      %tr
        %th Item
        %th.number Wishlists
    %tbody
      - @common_wishlists.each do |item|
        %tr{ :class => cycle('even', 'odd') }
          %td= link_to_item_with_stats(item)
          %td.number= h(item.wishlists_count)
.record_group
  %h4 Oldest Active Members
  %table.list
    %thead
      %tr
        %th Member
        %th.number First Raid
    %tbody
      - @oldest_members.each do |member|
        %tr{ :class => cycle('even', 'odd') }
          %td= link_to_member(member)
          %td.number= h(member.first_raid)