:javascript
  $(document).ready(function() {
    $("table#users").tablesorter();
  });

%h2= breadcrumb('Users')

%table#users.list.tablesorter
  %thead
    %tr
      %th Login
      %th.number Logins
      %th.number Failed Logins
      %th.date Last Login
      %th.number Last Login IP
      %th.checkbox Admin?
  %tbody
    - @users.each do |user|
      %tr{ :class => cycle('even', 'odd') }
        %td= h(user.login)
        %td.number= h(user.login_count)
        - # TODO: Helper
        %td.number{ :class => ( user.failed_login_count > 0 ) ? 'negative' : '' }= h(user.failed_login_count)
        %td.date= h(user.last_login_at)
        %td.number= h(user.last_login_ip)
        - if user.is_admin?
          %td.checkbox= image_tag('tick.png')
        - else
          %td.checkbox