- page_title 'Loots'
- breadcrumb 'Loots'
= will_paginate @loots
%div.category_block.block_wrap
  = render :partial => 'shared/maintitle'
  %table.ipb_table
    %thead
      %tr
        %th Name
        %th Buyer
        %th Notes
        %th.date Raid
        %th.number Price
    %tbody
      - @loots.each do |loot|
        %tr{ :class => cycle('row1', 'row2') + ' ' + loot_row_classes(loot) }
          %td
            = link_to_item_with_stats(loot.item)
            = render :partial => 'shared/moderation', :object => loot if admin?
          %td= link_to_member(loot.member)
          %td= loot_tell_types(loot)
          %td.date= link_to h(loot.purchased_on), raid_path(loot.raid) unless loot.raid.nil?
          %td.number= loot_factor(loot.adjusted_price)
= will_paginate @loots
