:javascript
  $(document).ready(function() {
    addItemAutoComplete('#loot_item_name');
    addMemberAutoComplete('#loot_member_name');
  });
%h2= breadcrumb link_to('Loot', loots_path), 'New'
%fieldset
  - form_for @loot do |f|
    - unless f.error_messages.empty?
      .error= f.error_messages
      
    = render :partial => "form", :object => f
    
    .buttons
      = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')
      = styled_button(:type => 'reset', :image => 'form_delete.png')