- breadcrumb 'Items'
= will_paginate @items
%div.category_block.block_wrap
  = render :partial => 'shared/maintitle'
  %table.ipb_table
    %thead
      %tr
        %th Name
        %th Loots
        %th Wishlists
    %tbody
      - @items.each do |item|
        %tr{ :class => cycle('row1', 'row2') }[item]
          %td.item
            = link_to_item_with_stats(item)
            = render :partial => 'shared/moderation', :object => item if admin?
          %td= h(item.loots.size)
          %td= h(item.wishlists.size)
= will_paginate @items