= will_paginate @items
%br
%table.list
  %thead
    %tr
      %th Name
      %th Buyer
      %th Notes
      %th.date Raid
      %th.number Price
  %tbody
    - @items.each do |item|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_item_with_stats(item)
        %td= link_to_member(item.member)
        %td= item_tell_types(item)
        %td.date= link_to h(item.raid.date), raid_path(item.raid) unless item.raid.nil?
        %td.number= number_with_precision(item.price, :precision => 2)
%br
= will_paginate @items