<h2><%= link_to_wowhead(@item) %></h2>

<h3>Purchases</h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Raid</th>
    <th>Buyer</th>
    <th class="right">Price</th>
  </tr>
  </thead>
  
  <tbody>
  <% for item in @purchases %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= link_to h(item.raid.date), raid_path(item.raid) unless item.raid.nil? %></td>
      <td><%= member_link_colored(item.member) %></td>
      <td class="right"><%= number_with_precision(item.adjusted_price, :precision => 2) %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>