:javascript
  $(document).ready(function() {
    $('#achievements img').tooltip({ showURL: false });
  });
%table.list
  %thead
    %tr
      %th &nbsp;
      - @achievements.each do |ach|
        %th.icon= achievement_icon(ach)
  %tbody#achievements
    - @members.each do |member|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_member(member)
        - @achievements.each do |ach|
          %td.icon= image_tag('error.png', :alt => 'Incomplete', :class => 'help', :title => "#{member.name} - #{ach.title}") unless member.achievements.include? ach
              