:javascript
  $(document).ready(function(){
    $("#attendance_tabs").tabs();
    attendanceIncrement();
    $(document).bind('keydown', 'Shift+1', function() {
      $('#attendance_tabs').tabs('select', 0);
      $('#live_raid_attendees_string').focus();
      return false;
    });
    $(document).bind('keydown', 'Shift+2', function() {
      $('#attendance_tabs').tabs('select', 1);
      $('#live_loot_input_text').focus();
      return false;
    });
    $(document).bind('keydown', 'Ctrl+S', function() {
      if ($('#attendance_tabs').tabs('option', 'selected') == 0) {
        $('#live_raid_submit').click();
      }
      else {
        $('#live_loot_submit').click();
      }
      return false;
    });
  });

- page_title "#{@live_raid.status} Raid"
- breadcrumb link_to('Attendance', live_raids_path), "#{@live_raid.status} Raid"

- if @live_raid.pending?
  %h2.pending= link_to("This raid has not yet been started. Click to start.", start_live_raid_path(@live_raid))
- elsif @live_raid.active?
  %h2.active= link_to("This raid is active. Click to stop.", stop_live_raid_path(@live_raid), :confirm => "Are you sure you want to stop this raid?")
- elsif @live_raid.completed?
  %h2.completed= link_to("This raid has been completed. Click to post.", post_live_raid_path(@live_raid))
%div.category_block.block_wrap
  #attendance_tabs
    %ul.tab_bar.no_title.mini
      %li.tab_toggle= link_to(content_tag(:span, "Attendance"), '#t-attendance')
      %li.tab_toggle= link_to(content_tag(:span, "Loots"),      '#t-loots')
    #t-attendance
      %table.ipb_table
        %thead
          %tr
            %th Name
            %th.icon
              - if @live_raid.completed?
                Delete
              - else
                Active?
            %th.number Active Minutes
        %tbody
          - @live_raid.attendees.each do |att|
            %tr{ :class => cycle('row1', 'row2') + (att.active? ? ' active' : ' inactive') }[att]
              %td= h(att.member_name)
              %td.icon
                - if @live_raid.completed?
                  = link_to_delete(:text => '', :path => live_raid_live_attendee_path(@live_raid, att))
                - else
                  = link_to_toggle_attendee(att)
              %td.number= att.active_minutes
      %div#attendee_errors.message.error.hide
      - semantic_form_for @live_raid do |form|
        - form.inputs do
          = form.input :attendees_string, :label => 'Add or toggle an attendee', :required => false, :input_html => {:size => '50'}
        - form.buttons :class => 'submit' do
          = form.submit 'Parse Attendees', :class => 'input_submit'
    #t-loots
      %table.ipb_table
        %thead
          %tr
            %th Name
            %th Buyer
            %th Notes
            %th
        %tbody#live_loots
          = render :partial => 'attendance/loots/loot_row', :collection => @live_raid.loots
      %div#loot_errors.message.error.hide
      - semantic_remote_form_for :live_loot, LiveLoot.new, :url => live_raid_live_loot_path(@live_raid), :html => {:method => :put} do |form|
        - form.inputs do
          = form.input :input_text, :as => :text, :label => 'Add Loot', :required => false, :input_html => {:size => '90x10'}
        - form.buttons :class => 'submit' do
          = form.submit 'Parse Loot', :class => 'input_submit'
