:javascript
  $(document).ready(function(){
    $("#attendance_tabs").tabs();
  });

- breadcrumb link_to('Attendance', live_raids_path), "#{@live_raid.status} Raid"

- if @live_raid.status == 'Pending'
  %div.message.error= "This raid has not yet been started. #{link_to('Click', start_live_raid_path(@live_raid))} to start."
%div.category_block.block_wrap
  #attendance_tabs
    %ul.tab_bar.no_title.mini
      %li.tab_toggle= link_to(content_tag(:span, "Attendance"), '#t-attendance')
      %li.tab_toggle= link_to(content_tag(:span, "Loots"),      '#t-loots')
    #t-attendance
      %table.ipb_table
        %thead
          %tr
            %th Name
            %th.icon Active?
            %th.number Active Minutes
        %tbody
          - @live_raid.attendees.each do |att|
            %tr{ :class => cycle('row1', 'row2') }
              %td= h(att.member_name)
              %td.icon= link_to_toggle_attendee(att)
              %td.number= att.active_minutes
    #t-loots
      %table.ipb_table
        %thead
          %tr
            %th Name
            %th Buyer
            %th Notes
            %th
        %tbody#live_loots
          = render :partial => 'attendance/loots/loot_row', :collection => @live_raid.loots
      %div#form_errors.message.error.hide
      - semantic_remote_form_for :live_loot, LiveLoot.new, :url => live_raid_live_loot_path(@live_raid), :html => {:method => :put} do |form|
        - form.inputs do
          = form.input :input_text, :as => :text, :label => 'Add Loot', :required => false, :input_html => {:size => '90x10'}
        - form.buttons :class => 'submit' do
          = form.submit 'Parse', :class => 'input_submit'