%h2= breadcrumb 'Global Wishlist View', @zone, @boss
#content
  - @items.each do |item|
    %div[item]
      %h4
        = link_to_function(image_tag('clipboard.png'), "wishlistCopy(#{item.id})")
        %span<
          = link_to_item_with_stats(item.object)
          = "(#{h(item.note)})" unless item.note.nil?
      %table.list.tablesorter
        %thead.hidden
          %tr
            %th Member
            %th Note
            %th Priority
            %th LF
        %tbody
          - reset_cycle
          - item.object.wishlists.each do |wishlist|
            - if wishlist.member.active?
              %tr{ :class => cycle('even', 'odd') }
                %td.member{ :style => 'max-width: 150px' }= link_to_member(wishlist.member)
                %td{ :style => 'width: 60%' }= h(wishlist.note)
                %td{ :style => 'width: 100px'}= h(wishlist.priority.titlecase)
                %td.lootfactor= loot_factor(wishlist.member.lf_type(wishlist.priority))
  %br
  .notice.hidden
#sidebar
  %ul
    - @root.each do |zone|
      %li.zone
        = link_to_function(h(zone.object.name), "$('ul#loot_table_#{zone.id}').toggle('slow')")
        %ul[zone]
          - zone.children.each do |boss|
            %li.boss[boss]
              = link_to h(boss.object.name), "?boss=#{boss.id}"
              
:javascript
  $(document).ready(function() {
    wishlistMenu(#{@zone.id}, #{@boss.id});
    wishlistHideUnwanted();
    wishlistSortTables();
  });