%h2 Global Wishlist View
#content.clearfix
  - @items.each do |item|
    - unless item.object.wishlists.size == 0
      .item-group
        %h4= link_to_wowhead(item.object)
        %table.list
          %tbody
            - item.object.wishlists.each do |wishlist|
              %tr{ :class => cycle('even', 'odd') }
                %td.member{ :style => 'max-width: 150px' }= link_to_member(wishlist.member)
                %td{ :style => 'width: 60%' }= h(wishlist.note)
                %td{ :style => 'width: 100px'}= h(wishlist.priority.titlecase)
                %td.lootfactor= number_with_precision(wishlist.member.lf_type(wishlist.priority), :precision => 2)
#sidebar.clearfix
  %ul
    - @root.each do |zone|
      %li
        = link_to_function(h(zone.object.name), "$('ul#zone-#{zone.id}').toggle('slow')")
        %ul{ :id => "zone-#{zone.id}" }
          - zone.children.each do |boss|
            %li{ :id => "zone-#{boss.id}" }
              = link_to h(boss.object.name), "?boss=#{boss.id}"
              
:javascript
  $(document).ready(function() {
    $('#sidebar ul ul').each(function() {
      if ($(this).attr('id') != 'zone-#{@zone.id}') {
        $(this).hide();
      }
    });
  });