- page_title 'Wishlists'
- if @zone
  - breadcrumb link_to('Wishlists', wishlists_path), @zone
- else
  - breadcrumb link_to('Wishlists', wishlists_path)
%div.topic.hfeed
  = render :partial => 'shared/maintitle', :object => @boss
  %div.border
    %div.post_block.hentry.clear
      %div.post_wrap
        %h3 &nbsp;
        %div.author_info
          %ul
            - @root.each do |zone|
              %li.zone
                = link_to_function(h(zone.object.name), "$('ul#loot_table_#{zone.id}').toggle('slow')")
                %ul.hide[zone]
                  - zone.children.each do |boss|
                    %li.boss[boss]
                      = link_to h(boss.object.name), "?boss=#{boss.id}"
        %div.post_body
          - @items.each do |item|
            %div[item]
              %p.posted_info
                = link_to_function(image_tag('clipboard.png'), "JuggLF.wishlist.compare(#{item.id})")
                %span= link_to_item_with_stats(item.object)
                - unless item.note.nil?
                  = "(#{h(item.note)})"
              %table.ipb_table.tablesorter.as_wishlist
                %thead
                  %tr.hide
                    %th.member Member
                    %th Priority
                    %th.lootfactor LF
                %tbody
                  - reset_cycle
                  - item.object.wishlists.each do |wishlist|
                    - if wishlist.member.active?
                      %tr{ :class => cycle('row2', 'row1') }
                        %td.member{ :style => 'max-width: 150px' }
                          = warn_if_recently_looted(wishlist, @recent_loots)
                          %span.larger= link_to_member(wishlist.member)
                          %br
                          %span.smaller= h(wishlist.note)
                        %td{ :style => 'width: 90px'}= h(wishlist.priority.titlecase)
                        %td.lootfactor= loot_factor(wishlist.member.lf_type(wishlist.priority))
          .notice.unwanted.hide
            %strong Note:
            Hiding {{count}} unwanted items.
            == Click #{link_to_function('here', 'JuggLF.wishlist.showUnwanted()')} to show them.
        %ul.post_controls
          %li.top= link_to(image_tag('http://www.juggernautguild.com/public/style_images/splat/post_top.png', :alt => '') + ' Back to top', '#top', :class => 'top')

- unless @zone.nil? or @boss.nil?
  :javascript
    $(document).ready(function() {
      JuggLF.wishlist.init(#{@zone.id}, #{@boss.id});
    });
