= form.label :expires_string, 'Expires on'
= form.text_field :expires_string, :class => 'small'

= form.label :reason
= form.text_field :reason, :class => 'large'

= form.label :value
= form.text_field :value, :class => 'small'