!!! XML
!!!
%html{html_attrs('en-US')}
  %head
    %title= truncate(@page_title || page_title, :length => 150)
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'jquery.ui', 'jquery.tablesorter.min', 'jquery.tooltip', 'jquery.autocomplete', 'jquery.contextmenu', :cache => 'jquery'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://static.wowhead.com/widgets/power.js'
    
    = stylesheet_link_tag 'application', 'basic', 'buttons', 'forms', 'layout', 'tables', 'tabs', :cache => 'default'

    :javascript
      $(document).ready(function() {
        $('#main').removeClass('hidden');
        hideSuccessFlash();
      });
  %body{:id => controller.controller_name}
    #wrapper.clearfix
      #top-menu.clearfix
        %ul
          %li= link_to "Juggernaut (Mal'Ganis US Horde)", 'http://www.juggernautguild.com/'
        %ul#right
          %li= link_to 'Home', 'http://www.juggernautguild.com/index.php?act=home'
          %li= link_to 'About Us', 'http://www.juggernautguild.com/index.php?showtopic=13476'
          %li= link_to 'Joining', 'http://www.juggernautguild.com/index.php?showtopic=13475'
          %li= link_to 'Forums', 'http://www.juggernautguild.com/index.php?act=idx'
          %li= link_to 'Calendar', 'http://www.juggernautguild.com/index.php?act=calendar'
          %li= link_to 'Roster', 'http://www.wowarmory.com/guild-info.xml?r=Mal%27Ganis&n=Juggernaut&p=1'
          %li= link_to 'LF', 'http://www.juggernautguild.com/index.php?showforum=23'
      #header.clearfix
        #main-menu.clearfix
          %ul
            %li= link_to 'Index', root_path, :class => ( current_page?(root_path) ) ? 'selected' : ''
            - unless current_user.nil? or current_user.member.nil?
              %li= link_to 'My Standing', member_path(current_user.member), :class => ( current_page?(member_path(current_user.member)) ) ? 'selected' : ''
            %li= link_to_controller(Achievement)
            %li= link_to_controller(Member)
            %li= link_to_controller(Raid, :admin_only => true)
            %li= link_to_controller(Item)
            %li= link_to_controller(Loot, :admin_only => true)
            %li= link_to_controller(Wishlist, :admin_only => true)
            %li= link_to_login_or_logout
      %noscript
        .error This site makes extensive use of JavaScript. Please enable it to continue.
      #main.hidden
        - if flash[:error]
          #flash.error= flash[:error]
        - if flash[:success]
          #flash.success= flash[:success]
        = yield