!!! XML
!!!
%html{html_attrs('en-US')}
  %head
    %title= @page_title || "JuggRails"
    %script{ 'type' => 'text/javascript', :src => "http://www.wowhead.com/widgets/power.js" }
    = javascript_include_tag 'jquery', 'jquery.ui', 'jquery.tablesorter.min', 'jquery.jeditable.min', 'application'
    
    = stylesheet_link_tag 'application', 'basic', 'forms', 'layout', 'tables', 'tabs'
    
    :javascript
      $(document).ready(hideSuccessFlash);
  %body
    #wrapper.clearfix
      #top-menu.clearfix
        %ul
          %li= link_to "Juggernaut (US-Mal'Ganis Horde)", '#'
        %ul#right
          %li= link_to 'Home', '#'
          %li= link_to 'About Us', '#'
          %li= link_to 'Joining', '#'
          %li= link_to 'Forums', '#'
          %li= link_to 'Calendar', '#'
          %li= link_to 'Roster', '#'
          %li= link_to 'DKP', '#'
      #header.clearfix
        #main-menu.clearfix
          %ul
            %li= link_to 'Members', members_path, :class => ( controller.controller_name == 'members' ) ? 'selected' : ''
            %li= link_to 'Raids', raids_path, :class => ( controller.controller_name == 'raids' ) ? 'selected' : ''
            %li= link_to 'Loots', loots_path, :class => ( controller.controller_name == 'loots' ) ? 'selected' : ''
            %li= link_to 'Wishlists', wishlists_path, :class => ( controller.controller_name == 'wishlists' ) ? 'selected' : ''
            %li= link_to_login_or_logout
      #main
        - if flash[:error]
          #flash.error= flash[:error]
        - if flash[:success]
          #flash.success= flash[:success]
        = yield