<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= @page_title || "JuggRails" %></title>
  
  <%= stylesheet_link_tag 'poison', 'jugg', 'overrides' %>
  <script type="text/javascript" src="http://www.wowhead.com/widgets/power.js"></script>
</head>

<body>
<div id="fleshset">

<div class="borderwrap">
	<div id="submenu">
		<p class="home"><a href="http://www.juggernautguild.com/">Juggernaut (Mal'Ganis US Horde)</a></p>
		<p><b><a href="/index.php?act=home">Home</a> &middot; <a href="/index.php?showtopic=13475">Joining</a> &middot; <a href="/index.php?showtopic=13476">About Us</a> &middot; <a href="/index.php?act=idx">Forums</a> &middot; <a href="http://armory.worldofwarcraft.com/guild-info.xml?r=Doomhammer&n=Juggernaut&p=1">Roster</a> &middot; <a href="/index.php?act=calendar">Calendar</a> &middot; <a href="/index.php?showforum=23">DKP</a></b></p>
	</div>
	<div id="logostrip"><a href='http://www.juggernautguild.com/index.php?act=home'><img src='http://www.juggernautguild.com/style_images/10_Juggernaut-Banner-4.jpg' alt='IPB' style='vertical-align:top' border='0' /></a></div>
</div>

<div id="userlinks">
	<p class="home">{MAIN_MENU2}</p>

	<p>
	 <%= link_to 'Standings', members_path %> |
	 <%= link_to 'Raids', raids_path %>
	</p>
</div>
<%= yield %>
<br/>
</body>
</html>