<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= @page_title || "JuggRails" %></title>

  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.ui.js' %>
  <%= javascript_include_tag 'jquery.tabs.js' %>
  
  <%= stylesheet_link_tag 'poison', 'jugg', 'overrides' %>
  <script type="text/javascript" src="http://www.wowhead.com/widgets/power.js"></script>
</head>

<body>
<div id="fleshset">

<div class="borderwrap">
    <div id="submenu">
        <div class="ipb-top-left-link"><a href="http://www.juggernautguild.com/">Juggernaut (Mal'Ganis US Horde)</a></div>
        
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://www.juggernautguild.com/index.php?showforum=23">DKP</a></div>
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://www.juggernautguild.com/index.php?act=calendar">Calendar</a></div>
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://armory.worldofwarcraft.com/guild-info.xml?r=Doomhammer&n=Juggernaut&p=1">Roster</a></div>
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://www.juggernautguild.com/index.php?act=idx">Forums</a></div>
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://www.juggernautguild.com/index.php?showtopic=13476">About Us</a></div>
        <div class="ipb-top-right-link">&middot;&nbsp;<a href="http://www.juggernautguild.com/index.php?showtopic=13475">Joining</a></div>
        <div class="ipb-top-right-link"><a href="http://www.juggernautguild.com/index.php?act=home">Home</a></div>
    </div>
    <div id="logostrip"><a href='http://www.juggernautguild.com/index.php?act=home'><img src='http://www.juggernautguild.com/style_images/10_DaveBan.jpg' alt='IPB' style='vertical-align:top' border='0' /></a></div>
</div>

<div id="userlinks">
    <p class="home"></p>

    <p>
     <%= link_to 'Standings', members_path %> |
     <%= link_to 'Items', items_path %> |
     <%= link_to 'Raids', raids_path %>
    </p>
</div>
<%= yield %>
<br/>
</body>
</html>