%table.list
  %thead
    %tr
      %th &nbsp;
      %th Title
      %th.date Completed On
  %tbody
    - @achievements.each do |ach|
      %tr{ :class => cycle('even', 'odd') }
        %td.image{ :width => '16px' }= link_to image_tag("http://static.wowhead.com/images/icons/small/#{ach.icon}.jpg"), "http://www.wowhead.com/?achievement=#{ach.armory_id}"
        %td= h(ach.title)
        %td= member_completed_achievement(ach, @member)