- form_for @member do |f|
  = f.error_messages
  
  %p
    = f.label :name
    %br
    = f.text_field :name
    = error_message_on(@member, :name)
  %p
    = f.label :wow_class, "Class"
    %br
    = f.select :wow_class, [''] + Member::WOW_CLASSES
  %p
    = f.check_box :active
    = f.label :active, "Active?"
  = f.submit