%table.list
  %thead
    %tr
      %th.note Reason
      %th.date Expires
      %th.number Value
      %th.image Actions
  %tbody
    - @punishments.each do |pun|
      %tr{ :class => cycle('even', 'odd') }
        %td.note= h(pun.reason)
        %td.date
          = h(pun.expires.to_s(:db))
          = " (#{loot_factor_cutoff(pun.expires)})"
        %td.number= number_with_precision(pun.value, :precision => 2)
        %td.image
          = link_to image_tag('edit.png'), edit_member_punishment_path(@member, pun) # TODO: Authorization!
          = link_to_delete(:path => member_punishment_path(@member, pun), :text => '') # TODO: Authorization!
.buttons
  = link_to image_tag('add.png') + 'Add Punishment', new_member_punishment_path(@member) # TODO: Authorize!