= render :partial => 'raids/context_menu' if admin?
%table.list
  %thead
    %tr
      %th.date Date
      %th.attendance Attendance
      %th.note Note
  %tbody
    - @raids.each do |raid|
      %tr{ :class => cycle('even', 'odd') + raid_date_classes(raid) }
        %td.date= link_to h(raid.date), raid_path(raid)
        %td.attendance= member_raid_attendance(raid, @member)
        %td.note= h(raid.note)
%br
= will_paginate(@raids, :id => 'raids_pagination')