%h2= breadcrumb link_to('Members', members_path), link_to_member(@member), 'Edit'
%fieldset
  %legend.hidden Edit Member
  
  - form_for @member do |f|
    - unless f.error_messages.empty?
      .error= f.error_messages
  
    = render :partial => 'form', :object => f
    
    .buttons
      = styled_button(:type => 'submit', :image => 'tick.png', :text => 'Save')
      = styled_button(:type => 'reset', :image => 'form_delete.png')
      = link_to_delete(:path => member_path(@member))