<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Name</th>
    <th class="right">LF</th>
    <th>First Raid</th>
    <th>Last Raid</th>
    <th>Raid Count</th>
    <th>Item Count</th>
    <th class="right">30-Day</th>
    <th class="right">90-Day</th>
    <th class="right">Lifetime</th>
  </tr>
  </thead>
  
  <tbody>
  <% for member in @members %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= member_link_colored(member) %></td>
      <td class="right"><%= number_with_precision(member.lf, :precision => 2) %></td>
      <td><%=h member.first_raid %></td>
      <td><%=h member.last_raid %></td>
      <td><%=h member.raids.size %></td>
      <td><%=h member.items.size %></td>
      <td class="right"><%= member_attendance_colored(member.attendance_30) %></td>
      <td class="right"><%= member_attendance_colored(member.attendance_90) %></td>
      <td class="right"><%= member_attendance_colored(member.attendance_lifetime) %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>