:javascript
  $(document).ready(function() {
    membersTableSort();
    membersContextMenu();
  });

- if admin?  
  %ul#contextMenu.contextMenu.hidden
    %li.edit= link_to('Edit Member', '#edit')

%table#index.list.tablesorter
  %thead
    %tr
      %th &nbsp;
      %th{ :style => 'min-width: 150px' } Name
      %th Rank
      %th.attendance 30-Day
      %th.attendance 90-Day
      %th.attendance Lifetime
      - if admin?
        %th.lootfactor Loot Factor
        %th.lootfactor Best in Slot
        %th.lootfactor Situational
  %tbody
    - @members.each do |member|
      %tr{ :class => cycle('even', 'odd') }
        %td.icon= image_tag("classes/#{member.wow_class.downcase.gsub(/\s+/, '_')}.gif", :alt => member.wow_class) unless member.wow_class.nil?
        %td.member{ :class => ( member.user_id.nil? ) ? 'user-missing' : '' }= link_to_member(member)
        %td= h(member.rank.name) unless member.rank.nil?
        %td.attendance= member_attendance_colored(member.attendance_30)
        %td.attendance= member_attendance_colored(member.attendance_90)
        %td.attendance= member_attendance_colored(member.attendance_lifetime)
        - if admin?
          %td.lootfactor= loot_factor(member.lf)
          %td.lootfactor= loot_factor(member.bislf)
          %td.lootfactor= loot_factor(member.sitlf)