%table.list
  %thead
    %tr
      %th Name
      %th Rank
      %th.attendance 30-Day
      %th.attendance 90-Day
      %th.attendance Lifetime
      %th.lootfactor Loot Factor
      %th.lootfactor Best in Slot
      %th.lootfactor Situational
  %tbody
    - @members.each do |member|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_member(member)
        %td= member.rank.name unless member.rank.nil?
        %td.attendance= member_attendance_colored(member.attendance_30)
        %td.attendance= member_attendance_colored(member.attendance_90)
        %td.attendance= member_attendance_colored(member.attendance_lifetime)
        %td.lootfactor= number_with_precision(member.lf, :precision => 2)
        %td.lootfactor= number_with_precision(member.bislf, :precision => 2)
        %td.lootfactor= number_with_precision(member.sitlf, :precision => 2)