:javascript
  $(document).ready(function(){
    $('#member_tabs').tabs({
      cache: true,
      ajaxOptions: { success: setupModeration }
    });
  });
  
- breadcrumb link_to('Members', members_path), link_to_armory(@member)
%div.category_block.block_wrap
  #member_stats
    %h3
      = member_attendance_colored(@member.attendance_30)
      %span.small 30-day attendance
    %h3
      = member_attendance_colored(@member.attendance_90)
      %span.small 90-day
    %h3
      = member_attendance_colored(@member.attendance_lifetime)
      %span.small Lifetime
    %br
    %h3
      = loot_factor(@member.lf)
      %span.small Loot Factor
    %h3
      = loot_factor(@member.bislf)
      %span.small Best in Slot
    %h3
      = loot_factor(@member.sitlf)
      %span.small Situational
      
%div.category_block.block_wrap
  #member_tabs
    %ul.tab_bar.no_title.mini
      %li.tab_toggle= link_to(content_tag(:span, 'Raids'),        member_raids_path(@member))
      %li.tab_toggle= link_to(content_tag(:span, 'Loots'),        member_loots_path(@member))
      %li.tab_toggle= link_to(content_tag(:span, 'Wishlist'),     member_wishlists_path(@member))
      %li.tab_toggle= link_to(content_tag(:span, 'Achievements'), member_achievements_path(@member))
      / %li.tab_toggle= link_to(content_tag(:span, 'Punishments'),  member_punishments_path(@member))
    #t-raids
    #t-loots
    #t-wishlist
    #t-achievements
    #t-punishments