:javascript
  $(document).ready(function(){
    $("#member_tabs").tabs();
  });
  
%h2= breadcrumb link_to('Members', members_path), link_to_member(@member)
#member_stats
  %h3
    = member_attendance_colored(@member.attendance_30)
    %span.small 30-day attendance
  %h3
    = member_attendance_colored(@member.attendance_90)
    %span.small 90-day
  %h3
    = member_attendance_colored(@member.attendance_lifetime)
    %span.small Lifetime
  %br
  %h3
    = number_with_precision(@member.lf, :precision => 2)
    %span.small Loot Factor
  %h3
    = number_with_precision(@member.bislf, :precision => 2)
    %span.small Best in Slot
  %h3
    = number_with_precision(@member.sitlf, :precision => 2)
    %span.small Situational
#member_tabs
  %ul
    / %li= link_to_tab('Basic')
    %li= link_to_tab("Raids (#{@raids_count})")
    %li= link_to_tab("Items (#{@member.items.size})")
    %li= link_to_tab("Punishments (#{@punishments.size})")
    %li= link_to_tab("Wishlist")
    %li= link_to_tab('Achievements')
  / #basic= render :partial => 'basic'
  #raids= render :partial => 'raids'
  #items= render :partial => 'items'
  #punishments= render :partial => 'punishments'
  #wishlist= render :partial => 'wishlist'
  #achievements