<h2><%= member_link_colored(@member) %></h2>
30-Day: <%= member_attendance_colored(@member.attendance_30) %><br/>
90-Day: <%= member_attendance_colored(@member.attendance_90) %><br/>
Lifetime: <%= member_attendance_colored(@member.attendance_lifetime) %><br/>

<h3>Raids</h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Date</th>
    <th class="right">Attendance</th>
    <th>Note</th>
    <th class="center">Thread</th>
  </tr>
  </thead>
  
  <tbody>
  <% for raid in @raids %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= link_to h(raid.date), raid_path(raid) %></td>
      <td class="right"><%= member_attendance(raid, @member) %></td>
      <td><%=h raid.note %></td>
      <td class="center"><%=h raid.thread %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>

<h3>Items</h3>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Raid</th>
    <th class="right">Price</th>
  </tr>
  </thead>
  
  <tbody>
  <% for item in @member.items %>
    <tr class="<%= cycle('row1','row2') %><%= ' inclf' if item.affects_loot_factor? %>">
      <td><%= link_to_item_with_stats(item) %></td>
      <td><%= link_to h(item.raid.date), raid_path(item.raid) unless item.raid.nil? %></td>
      <td class="right"><%= number_with_precision(item.adjusted_price, :precision => 2) %></td>
    </tr>
  <% end %>
  </tbody>
  
  <tfoot>
    
  </tfoot>
</table>