:javascript
  $(document).ready(function(){
    $('#member_tabs').tabs({
      ajaxOptions: { cache: false },
      cache: true
    });
  });
  
%h2= breadcrumb link_to('Members', members_path), link_to_armory(@member)
#stats
  %h3
    = member_attendance_colored(@member.attendance_30)
    %span.small 30-day attendance
  %h3
    = member_attendance_colored(@member.attendance_90)
    %span.small 90-day
  %h3
    = member_attendance_colored(@member.attendance_lifetime)
    %span.small Lifetime
  %br
  %h3
    = loot_factor(@member.lf)
    %span.small Loot Factor
  %h3
    = loot_factor(@member.bislf)
    %span.small Best in Slot
  %h3
    = loot_factor(@member.sitlf)
    %span.small Situational
#member_tabs
  %ul
    %li= link_to_tab("Raids",        '#t-raids')
    %li= link_to("Loots",            member_path(@member) + '/t.loots')
    %li= link_to_tab("Punishments",  member_path(@member) + '/t.punishments')
    %li= link_to_tab("Wishlist",     member_path(@member) + '/t.wishlist')
    %li= link_to_tab('Achievements', member_path(@member) + '/t.achievements')
  #t-raids= render :partial => 'members/raids'
  #t-loots
  #t-punishments
  #t-wishlist
  #t-achievements